<%= render "shared/header" %>

<div class="page-layout">
  <div class="left-section">
    <%= form_with(model: @user, url: user_path(@user), method: :patch) do |form| %>
      <%= render "devise/shared/error_messages", resource: @user %>
      
      <%= form.label :ユーザー名 %>
      <%= form.text_field :username %>
      <%= form.label :メールアドレス %>
      <%= form.email_field :email %>
      <%= form.label :生年月日 %>
      <%= form.date_field :date_of_birth %>
      <%= form.label :趣味 %>
      <%= form.select :hobbies_id, Hobbies.all.map { |h| [h.name, h.id] } %>
      <%= form.label :関心事 %>
      <%= form.select :interests_id, Interests.all.map { |i| [i.name, i.id] } %>
      <%= form.label :キャラクター %>
      <%= form.select :character_id, Character.all.map { |c| [c.name, c.id] } %>
      <%= form.submit 'ユーザー情報を更新する' %>
    <% end %>  
  </div>
  <div class="right-section">
    <div class="top-character-image">
      <%= image_tag current_user.character.image_url, alt: current_user.character.name %>
    </div>
  </div>
</div>