<%= render "shared/header" %>
<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
  
  <div class='left-section'>
    <h1>ユーザー情報入力</h1>
    <p><%= f.label 'ユーザー名' %>
    <%= f.text_field :username %></p>
    <p><%= f.label 'メールアドレス' %>
    <%= f.email_field :email %></p>
    <p><%= f.label '生年月日' %>
    <%= f.date_field :date_of_birth %></p>
    <p><%= f.label '趣味' %>
    <%= f.select :hobbies_id, Hobbies.all.map { |h| [h.name, h.id] } %></p>
    <p><%= f.label '関心事' %>
    <%= f.select :interests_id, Interests.all.map { |i| [i.name, i.id] } %></p>
    <p><%= f.label 'キャラクター' %>
    <%= f.select :character_id, Character.all.map { |c| [c.name, c.id] } %></p>
    <p>
    <%= f.label '背景' %>
    <%= f.select :background_id, Background.all.map { |b| [b.name, b.id] } %></p>
    <div class="field">
      <%= f.label 'パスワード' %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
      <div class="field">
        <%= f.label 'パスワード(確認)' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
  </div>
  <div class='register-btn'>
    <%= f.submit "会員登録" ,class:"register-red-btn" %>    
  </div>
<%= render 'shared/error_messages', model: f.object %>
<% end %>

