<%= render "shared/header" %>
<div class="wrapper">
<%= render "shared/side-bar" %>
<%= include_gon %>
  
  <div class="chat-wrapper">
    <div class="main-content">
    <% if user_signed_in? %>
      <div class= background-image>
        <% if @background %>          
          <%= image_tag @background.image_url, alt: "Background Image" %>
        <% else %>
          <%= image_tag Background.default_background.image_url, alt: "Default Background Image" %>
        <% end %>
      </div>
      <div class="main-chat">
        <div class="output">
        <div class="user-message"></div>
        <div class="chatbot-message"></div>
        </div>
      </div>
      <div class="top-character-image">
        <img src="<%= @character.image_url %>" alt="<%= @character.name %>" id="character-image">
      </div>   
    </div>  
    <div class=user-form>  
      <%= form_with model: @conversation, id: "conversation-form", class: 'form', remote: true do |f| %>
      <div class="user-chat">
        <div class="user-input">
          <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
        </div>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :character_id, id: "character_id", value: current_user.character.id %>
        <%= f.hidden_field :chatbot_reply, value: "" %>
        <div>
          <%= f.submit '送信', class: 'form-submit', id: "submit-button" , disabled: f.object.errors.any? %>
        </div>
      </div>
       <!-- CSRFトークンを送信するためのinput要素 -->
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">    
      <% end %>
    </div>
    <% end %>
    <ul class="login-items hidden">
    <% if !user_signed_in? %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </ul>
  </div>
</div>
<%# スマホサイズ用メニュー %>
  <div class="smart-footer">
    <div class="smart-ft-menu">
      <div class="ft-menus" id="ft-menus">
      <a class="#">menu
      <span><i class="fa-solid fa-bars fa-2x"></span></i>
      </a>
        <ul class="ft-submenu">
          <li><a class="ft-history" href="#" id="conversation-history">会話履歴</a></li>
          <li><%= form_with(url: destroy_user_session_path, method: :delete) do |f| %>
            <%= f.submit 'ログアウト', class: 'ft-logout-button' %>
          <% end %>
          </li>
        </ul>
      </div>      
    </div>
    <% if user_signed_in? %>
      <div class="smart-ft-menu">
        <%=link_to user_path(current_user) , class:"ft-menu" do %>
          マイページ<span><i class="fa-regular fa-user fa-2x"></span></i>
        <% end %>
      </div>
      <div class="smart-ft-menu">
        <%=link_to edit_character_path(current_user.character), class: 'ft-menu' do %>
          キャラクター選択<span><i class="fa-solid fa-repeat fa-2x"></span></i>
        <% end %>
      </div>
      <div class="smart-ft-menu">
        <%=link_to edit_background_path(current_user), class:"ft-menu" do %>
        背景設定<span><i class="fa-regular fa-image fa-2x"></span></i>
        <% end %>
      </div>
    <% end %>
  </div>