<%= render "shared/header" %>
<div class="default-background-color">
<%= form_with(model: @user, url: user_path, method: :patch) do |f| %>
<div class="show-wrapper">
  <div class="left-section">
  <h1 class="form-header-text">
        ユーザー情報
  </h1>
  <div class="show-group">
        <div class="show-text-wrap">
          <div class="show-text">ユーザー名: <%= f.text_field :username %></div>
        </div>
    </div> 
    <div class="show-group">
        <div class="show-text-wrap">
          <div class="show-text">メールアドレス: <%= f.email_field :email %></p></div>
        </div>
    </div>
    <div class="show-group">
        <div class="show-text-wrap">
          <div class="show-text">生年月日: <%= f.date_field :date_of_birth %></div>          
        </div>
    </div>
    <div class="show-group">
        <div class="show-text-wrap">
          <div class="show-text">趣味: 
            <%= f.select :hobbies_id, Hobbies.all.map { |h| [h.name, h.id] }, {}, class:'default-select' %>
          </div>
        </div>
    </div>
    <div class="show-group">
        <div class="show-text-wrap">
          <div class="show-text">関心事:  
            <%= f.select :interests_id, Interests.all.map { |i| [i.name, i.id] }, {}, class:'default-select' %>
          </div>
        </div>
    </div>  
    
    <div class="edit-button-container">
      <%= f.submit '更新する', class: 'edit-button' %>
    </div>
  <% end %>  
  </div>
  <div class="right-section">
    <div class="show-character-image">
      <%= image_tag @character.image_url, alt: @character.name %>
      <div class="character-info">
         <div class="show-text">キャラクター: <%= current_user.character_name %></div>
      </div>
    </div>
    <%=link_to 'キャラクター選択', edit_character_path(current_user.character), class: 'edit-button-c' %></li>
  </div>
</div>  
</div>
